@model List<MvcApplication2.Models.Recipie>
@{
    ViewBag.Title = "Recipie";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div id="page4">
    <div class="inner">
            <div class="main">
                <section id="content">
                    <div class="indent">
                    	<div class="wrapper">
                        	<article class="col-1">
                                
                                <div class="bg">
                                    <div class="padding">
                                        <h3 class="p2">Recipies</h3>
                                        @{
                                            if(ViewBag.list == "notempty")
                                            {
                                            for(int i = 0;i < Model.Count;i++)
                                            {
                                        
                                        <div class="wrapper indent-bot">
                                            @if(i % 2 == 0)
                                            {
                                        	<div class="column-1">
                                                <form action="~/Home3/Recipie" method="post">
                                            	<div class="wrapper">
                                                    <input type="text" name="ID" hidden="hidden" value="@Model[i].ID" />
                                                	<figure class="img-indent"><a href="#"><img height="120" width="120" src="~/UploadedImages/@Model[i].img" alt="" /></a></figure>
                                                    <div class="extra-wrap">
                                                    	<div class="margin-top">
                                                            <h6>@Model[i].Name</h6>
                                                            <input type="submit" class="link" value="Read Recipie" />
                                                        </div>
                                                    </div>
                                                </div>
                                                    </form>
                                            </div>
                                            }
                                            else
                                            {
                                            <div class="column-2">
                                                <form action="~/Home3/Recipie" method="post">
                                            	<div class="wrapper">
                                                    <input type="text" name="ID" hidden="hidden" value="@Model[i].ID" />
                                                	<figure class="img-indent"><a href="#"><img height="120" width="120" src="~/UploadedImages/@Model[i].img" alt="" /></a></figure>
                                                    <div class="extra-wrap">
                                                    	<div class="margin-top">
                                                            <h6>@Model[i].Name</h6>
                                                            <input type="submit" class="link" value="Read Recipie" />
                                                        </div>
                                                        </div>
                                                    </div>
                                                     </form>
                                                </div>
                                            }
                                            </div>
                                            }
                                        
                                        }
                                        
                                        else
                                        {
                                                <p>data not found</p>
                                            }
                                        }
                                </div>
                                    </div>
                            </article>
                            <article class="col-2">
                            	<h3 class="border-bot">Search Recipes</h3>
                                <div class="img-indent-bot">
                                    
                                    <form method="post" action="~/Home2/Recipie" enctype="multipart/form-data">
                                        <input placeholder="Recipie" type="text" name="str" id="str" />
                                        
                                        <input type="submit" value="Search" />
                                       
                                    </form>
                                </div>
                            </article>
                        </div>
                    </div>
                </section>
                <div class="block"></div>
            </div>
        </div>
</div>